@font-face {
    font-family: Jenang-Kudus;
    src: url(Jenang-Kudus.ttf);
    font-size: larger;

}
/*borre .contenedor .tamaño .texto2*/
.nav{
font-family: Jenang-Kudus;
width: 100%;
height: 200px;
background-color: #d6704b;
font-size: 140%;

}
.imgfondo{ 
    width: 100%;
}
.color{
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}
.btn{
    height: 50px;
    background-color: #ff895e;
    bottom: 70px;
    font-size: 100%;
}
.img{
    width: 20%;
    height: 50;
    margin-left: 10%;
}
.sombra{
  box-shadow: 6px 6px 6px black;
}
.btn1{
    width: 10;
    height: 40px;
    background-color: #ff895e;
    bottom: 50px;
    font-family: Jenang-Kudus;
    font-size: 250%;
}


.centrado{
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-100%, -40%); 
}
.color1{
    width: 20%;
    height: 60px;
    background-color: white;
    color: black;
    bottom: 50px;
    margin-top: 30%;
    margin-left: 5%;
    transform: translate(-50%, -50%);  
}
.imgletra{
   width: 50%;
    transform: translate(-50%, -50%);  
    position: absolute;
    top: 85%;
    left: 50%;
   
}
.footer{ 
    background-color:  #d6704b;
}

.pie img{
    width: 90px;
    
}


/*RESPONSIVE*/

/*SI FUNCIONA */
    /*RESPONSIVE*/
 
    /*MOVILES*/
  @media screen and (min-width: 360px) and (max-width: 767px) {
        .d-flex {
            display: flex!important;
            align-items: baseline;
            align-content: center;
            flex-wrap: wrap;
        }
       
        .color1 {
            width: 30%;
            height: 50px;
            margin-left: 5%;
            margin-top: 50%;
        }
        .imgfondo{
   
            width: 100%;
          height: 60cap;
        }
        .imgletra {
           margin-top: 2%;
        }
    }
   

    /*TABLETA*/
    @media screen and (min-width: 767px) and (max-width: 1024px) {
        
        .text2 {
            top: 30%;
        }
        .txt {
            width: 85%;
            font-size: 25px;
            top: 65%;
        }
        .imgfondo{
   
            width: 100%;
          height: 75cap;
            
         
        }
        .nav {
            width: 100%;
            height: 178px;
        }
            .login{
           
                    margin-top: 0%;
               
            }
            .imgletra {
                top: 50%;
            }
            .centrado {
                top: 40%;
            }
    }
   
